html, body {
	font-family: sans-serif;
	margin: 0;
}

body {
	background-image: url("backgroundimage.jpg");
	background-repeat: repeat-y repeat-x;
	background-size: 100px 100px;
}

header {
	background-image: url("headerimg.jpg");
	padding: 5px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	text-align: center;
}

h1 {
	font-size: 120px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	border-bottom: 10px solid black;
}

header img {
	border-radius: 60px;
	width: 350px;
	border: 20px solid rgba(0, 0, 0, 0.75);
}

.content {
	max-width: 60%;
	margin: 0 auto;
	padding: 0 10px;
}

#intro {
	text-align: center;
}

.contentA {
	width: 100%;
	background-color: rgba(255, 255, 255, .8);
	border: 5px solid rgba(0, 0, 0, 0.65);
	padding: 5px;
	margin: 0px;
}

h2 {
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
}

ol li {
	font-size: 20px;
}

img.big-image {
	width: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border: 5px solid rgba(0, 0, 0, 0.65);

}

img.big-image:hover {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border: 5px solid rgba(0, 0, 0, 0.65);
}

p.caption {
	color: black;
	font-size: 15px;
	font-style: italic;
	margin-top: 0;
	text-align: center;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.contentB {
	max-width: 50%;
	background-color: rgba(255, 255, 255, .8);
	border: 5px solid rgba(0, 0, 0, 0.65);
	margin: 0 auto;
	padding: 0 10px;
}

ul{
	text-align: center;
	list-style: none;
	font-size: 20px;
	line-height: 33px;
}

a {
	color: black;
	font-size: 32px;
	text-decoration: none;
}

.raptors {
	background-image: url("raptors.jpg");
	float: top;
	padding: 8px 16px;
	background-size: cover;
	background-position: center;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#li2 {
	margin: 1px;
	padding-top: 1px;
	padding-bottom: 120px;
}

.utube {
	background-image: url("utube.jpg");
	float: center;
	padding: 16px 70px;
	background-size: contain;
	background-position: center;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.cool {
	background-image: url("cool.gif");
	float: center;
	padding: 60px 240px;
	background-position: center;
	background-size: contain;
}

footer {
	padding: 1px 5px;
	background-color: orange;
	margin-top: 5px;
}

footer a {
	font-size: 20px;
}

footer ul {
	text-align: center;
}

footer ul li {
	display: inline-block;
	margin: 0 10px;
}


/*<header>
			<img src="img/profile.jpg">
			<h1>Deku</h1>
		</header>*/
